@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chivo+Mono:wght@100&family=Courgette&family=Inconsolata:wght@200;300;400&family=Mukta:wght@200&family=Teko:wght@500&display=swap');

body{
  font-family: 'Anton', sans-serif;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Courgette', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Mukta', sans-serif;
    font-family: 'Teko', sans-serif;
}